.top-head {
    background: #FAFAFA !important;
}

.top-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1890FF;
}

.main-btn {
    padding: 8px 16px;
    background: #1890FF;
    border: 1px solid #1890FF;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    color: white;
    margin-left: 30px;
}

.main-logo {
    max-width: 100%;
    width: 210px;
}

.main-content {
    background-color: #FFF;
    text-align: center;
    padding: 24px 0;
}

.main-search {
    width: 968px !important;
}

.main-table {
    max-width: 1216px !important;
}

    .main-table .ant-table-content {
        max-height: calc(100vh - 200px);
        overflow-y: scroll;
    }

        .main-table .ant-table-content::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        .main-table .ant-table-content::-webkit-scrollbar-track {
            box-shadow: inset 0 0 3px #8080808a;
        }

        /* Handle */
        .main-table .ant-table-content::-webkit-scrollbar-thumb {
            background: #dadada;
        }

            /* Handle on hover */
            .main-table .ant-table-content::-webkit-scrollbar-thumb:hover {
                background: #1890ff;
            }

.main-tabs div {
    justify-content: center;
}

.main-tabs .ant-tabs-nav {
    margin: auto !important;
    margin-bottom: 20px !important;
}

.main-last-update {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
}

.main-token-name {
    font-size: 12px;
    color: #8C8C8C;
}

.main-token-symbol {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}

.text-right {
    text-align: right;
}

.font-12 {
    font-size: 12px;
}

.red {
    color: #CF1322;
}

.main-chart-container {
    display: flex;
    justify-content: center;
    padding: 24px 50px;
    background: #FAFAFA;
}

#CoinInfo .main-token-symbol {
    font-size: 25px;
    font-weight: 500;
}

#CoinInfo .main-token-name {
    font-size: 16px;
    font-weight: 400;
}

.coin-price {
    font-size: 24px;
    font-weight: 500;
}

.coin-sub-price {
    font-size: 16px;
    font-weight: 500;
}

.coin-info-details .d-title {
    font-size: 16px;
    font-weight: 500;
}

.coin-info-details .d-sub {
    font-size: 18px;
    font-weight: 500;
    color: #595959;
}

.social-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 32px;
    height: 32px;
    background: #1890FF;
    color: white;
    border-radius: 100px;
    margin: 0px 6px;
    font-size: 16px;
}

.btns {
    padding: 10px 0;
    display: flex;
    justify-content: end;
}

    .btns button {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 35px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
    }

        .btns button.active {
            color: #1890FF;
            border-color: #1890FF;
        }

        .btns button:first-child {
            border-radius: 2px 0px 0px 2px;
        }

        .btns button:last-child {
            border-radius: 0px 2px 2px 0px;
        }

.footer-links {
    display: flex;
    flex-direction: column;
}

    .footer-links span {
        font-weight: normal;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
    }

    .footer-links a {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
    }

.footer-links {
    line-height: 30px;
}

.coin-info-top {
    padding: 40px 48px;
    background: #FAFAFA;
}

.coin-info-last-update {
    text-align: right;
    padding: 0 20px;
}

.coin-info-title {
    padding: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}

.coin-info-mainchart {
    background: rgb(255, 255, 255);
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
    background: #F5F5F5 !important;
}

.main-table thead {
    position: sticky;
    z-index: 9;
    top: 0;
}
.main-chart-top-container {
    background-color: #FFF;
    width: 596px;
    margin: 0 12px;
}
@media (max-width: 768px) {
    .main-chart-top-container {
        margin: 0;
    }
    .main-tabs .ant-tabs-nav {
        margin: initial !important;
        margin-bottom: 20px !important;
    }

    .main-tabs div {
        justify-content: start !important;
    }
}
